<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <filter>
        <whitelist>
            <directory>../src/Binder</directory>
            <exclude>
                <file>../src/Binder/Line.php</file>
                <file>../src/Binder/Token.php</file>
                <file>../src/Binder/Symbol.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
